#{extends 'main.html' /}
#{set title:'MapMatching' /}
#{set subtitle:'List all samples' /}

<div class="row">
    <div class="col-md-12">
        Lista dei path registrati a sistema:
    </div>
</div>

<div class="container panel panel-default">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th># of Samples</th>
                <th>Step 1</th>
                <th>Step 2</th>
                <th>Step 3</th>
            </tr>
        </thead>
        <tbody>

    #{list items:paths, as:'path'}
        <tr>
            <th scope="row">${path.id}</th>
            <td>${path.sent.format('dd MMMM yyyy hh:mm:ss')}</td>
            <td>${path.samples.size()}</td>
            <td><a href="${link_step1}/${path.id}">Step 1</a></td>
            <td><a href="${link_step2}/${path.id}">Step 2</a></td>
            <td><a href="${link_step3}/${path.id}">Step 3</a></td>
        </tr>
    #{/list}
        </tbody>
    </table>
</div>
