#{extends 'leaflet.html' /}
#{set title:'MapMatching - step1' /}

<h1>Step2</h1>
<p>
Punto di campionamento e proiezione dei candidati nei segmenti adiacenti.
</p>

<div id="map" style="height: 420px"></div>

<script>
onload=function(){
	var map = L.map('map',{
	                        center: [${sample.latitude}, ${sample.longitude}],
	                        zoom: 18,
    						maxZoom: 20
						});
	L.tileLayer('http://{s}.tiles.mapbox.com/v3/tzorzan.ik1cmo25/{z}/{x}/{y}.png').addTo(map);

	L.circleMarker([${sample.latitude}, ${sample.longitude}], {radius: 2, color: '#2964FF'}).addTo(map);

    #{list items:candidates, as:'candidate'}
	    L.circleMarker([${candidate.latitude}, ${candidate.longitude}], {radius: 2, color: '#ff7800'}).addTo(map);
	#{/list}

    var polyline;
    #{list items:segments, as:'segment'}
        polyline = L.polyline([
        #{list items:segment.getCoordinates(), as:'coordinate'}
	        [${coordinate.x}, ${coordinate.y}]${coordinate_isLast ?'':',' }
	    #{/list}
	    ], {color: '#72FF7A'});
	    polyline.addTo(map);
	#{/list}
}();
</script>