#{extends 'leaflet.html' /}
#{set title:'MapMatching - step2' /}

<h1>Step2</h1>
<p>
Punto di campionamento e proiezione dei candidati nei segmenti adiacenti.
</p>

<div id="map" style="height: 420px"></div>

<script>
L.InfoCircleMarker = L.CircleMarker.extend({
   options: {
      info: 'Custom info'
   }
});

L.infoCircleMarker = function (id, options) {
    return new L.InfoCircleMarker(id, options);
};

var map = L.map('map',{
                        zoom: 16,
   						maxZoom: 18
					});

L.tileLayer('http://{s}.tiles.mapbox.com/v3/tzorzan.ik1cmo25/{z}/{x}/{y}.png', {donthide: true}).addTo(map);

var samples = [
  #{list items:path.samples, as:'sample'}
            [${sample.latitude}, ${sample.longitude}]${sample_isLast ?'':',' }
  #{/list}
];

var segments = [
  #{list items:segments, as:'candidatessegments'}
    [
      #{list items:candidatessegments, as:'candidate'}
      [
        #{list items:candidate.getCoordinates(), as:'coordinate'}
            [${coordinate.x}, ${coordinate.y}]${coordinate_isLast ?'':',' }
        #{/list}
      ]${candidate_isLast ?'':',' }
      #{/list}
    ]${candidatessegments_isLast ?'':',' }
  #{/list}
];

var candidates = [
  #{list items:candidates, as:'candidatespoints'}
        [
      #{list items:candidatespoints, as:'point'}
      [${point.getX()}, ${point.getY()}]${point_isLast ?'':','}
      #{/list}
    ]${candidatespoints_isLast ?'':',' }
  #{/list}
];

var infoCandidates = [
  #{list items:infoCandidates, as:'candidateinfos'}
        [
      #{list items:candidateinfos, as:'info'}
      ["${info}"]${info_isLast ?'':','}
      #{/list}
    ]${candidateinfos_isLast ?'':',' }
  #{/list}
];

function popupInfo(e) {
    var popup = L.popup()
    .setLatLng(e.latlng)
    .setContent('<p>'+ e.target.options.info +'</p>')
    .openOn(map);
}

function showCandidates(n) {
  var sample = samples[n],
      candidateSegments = segments[n],
      candidatePoints = candidates[n];

  map.eachLayer(function (layer) {
      if (layer.options.donthide == undefined) {
        map.removeLayer(layer);
      }
  });

  candidateSegments.forEach(function(candidateSegment){
    L.infoCircleMarker(sample, {radius: 2, color: '#2964FF', info: 'Sample '+n}).on('click', popupInfo).addTo(map);
    L.polyline(candidateSegment, {color: '#72FF7A', clickable: false}).addTo(map);
  });

  candidatePoints.forEach(function(candidatePoint, index){
    L.infoCircleMarker(candidatePoint, {radius: 3, color: '#FF5815', info: infoCandidates[n][index]}).on('click', popupInfo).addTo(map);
  });
  map.setZoom(18).panTo(sample);
  currentCandidate = n;
}

showCandidates(0);

function leftArrowPressed() {
  if(currentCandidate -1 >= 0)
    showCandidates(currentCandidate -1);
}

function rightArrowPressed() {
  if(currentCandidate + 1 < samples.length)
    showCandidates(currentCandidate+1);
}

document.onkeydown = function(evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
        case 37:
            leftArrowPressed();
            break;
        case 39:
            rightArrowPressed();
            break;
    }
};
</script>

<h3>Samples</h3>
<ul>
    <a href="#" onclick="leftArrowPressed();"><<</a>&nbsp;
    %{
    n = 0;
    for(sample in path.samples) {
    }%
        <a href="#" onclick="showCandidates(${n});">${n}</a>
    %{
        n++;
    }
    }%
    &nbsp;<a href="#" onclick="rightArrowPressed();">>></a>
</ul>