#{extends 'leaflet.html' /}

<div class="col-md-8" style="height: 100%; padding-left: 0px;">
	<div id="map"></div>
</div>
<div class="col-md-4">
	<h1>MapMatching <small>Step 1</small></h1>

	<div class="well" style="width: 200px; position: fixed; right: 15px; bottom: -5px;">Go to <a href="@{MapMatching.step2}/${params.parameter}">Step 2 >></a></div>

	Punti del campionamento e relativo bounding box allargata.
	Tutti i segmenti inclusi nella bounding box sono inseriti a sistema.
</div>

<script>
onload=function(){
	var map = L.map('map',{
    						zoom: 18,
   							maxZoom: 20
						});
	L.tileLayer('http://{s}.tiles.mapbox.com/v3/tzorzan.ik1cmo25/{z}/{x}/{y}.png').addTo(map);

    //Draw bounding box
	var bb = L.rectangle([[${boundingbox.getMinX()}, ${boundingbox.getMaxY()}], [${boundingbox.getMaxX()}, ${boundingbox.getMinY()}]],
	{
	    color: "#ff7800",
	    fillOpacity: 0.06
	}).addTo(map);

	#{list items:samples, as:'sample'}
	    L.circleMarker([${sample.latitude}, ${sample.longitude}], {radius: 2, color: '#2964FF'}).addTo(map);
	#{/list}

	L.polyline([
        #{list items:samples, as:'sample'}
	        [${sample.latitude}, ${sample.longitude}]${sample_isLast ?'':',' }
	    #{/list}
	], {color: '#1CD2FF'}).addTo(map);

    var polyline;
    #{list items:segments, as:'segment'}
        polyline = L.polyline([
        #{list items:segment.getCoordinates(), as:'coordinate'}
	        [${coordinate.y}, ${coordinate.x}]${coordinate_isLast ?'':',' }
	    #{/list}
	    ], {color: '#72FF7A'});
	    polyline.addTo(map);
	#{/list}


    map.fitBounds(bb.getBounds(), {padding: [20, 20]});
}();
</script>