#{extends 'leaflet.html' /}
#{set title:'MapMatching - step3' /}

<h1>Step3</h1>
<p>
Valutazione e assegnazione punteggi ai candidati.
</p>

<div id="map" style="height: 420px"></div>

<script>
var map = L.map('map',{
                        zoom: 16,
   						maxZoom: 18
					});

L.tileLayer('http://{s}.tiles.mapbox.com/v3/tzorzan.ik1cmo25/{z}/{x}/{y}.png', {donthide: true}).addTo(map);

var samples = [
  #{list items:path.samples, as:'sample'}
            [${sample.latitude}, ${sample.longitude}]${sample_isLast ?'':',' }
  #{/list}
];

var segments = [
  #{list items:segments, as:'matchingsegment'}
    [
    #{list items:matchingsegment.getCoordinates(), as:'coordinate'}
        [${coordinate.x}, ${coordinate.y}]${coordinate_isLast ?'':',' }
    #{/list}
    ]${matchingsegment_isLast ?'':',' }
  #{/list}
];

function showCandidates(sample, matchingSegment) {

  map.eachLayer(function (layer) {
      if (layer.options.donthide == undefined) {
        map.removeLayer(layer);
      }
  });

  L.polyline(matchingSegment, {color: '#72FF7A'}).addTo(map);

  map.setZoom(18).panTo(sample);
}

showCandidates(samples[0], segments[0]);
</script>

<h3>Matching Candidates</h3>
<ul>
    %{
    n = 0;
    for(sample in path.samples) {
    }%
        <a href="#" onclick="showCandidates(samples[${n}], segments[${n}]);">${n}</a>
    %{
        n++;
    }
    }%
</ul>