#{extends 'leaflet.html' /}

<div class="col-md-8" style="height: 100%; padding-left: 0px;">
    <div id="map"></div>
</div>
<div class="col-md-4">
    <h1>MapMatching <small>Step 3</small></h1>

    Valutazione e assegnazione punteggi ai candidati.

    <div class="well">
        <h6>Usa i tasti <strong>&larr;</strong> o <strong>&rarr;</strong> per cambiare punto.</h6>
        <ul class="list-inline">
            <li><a href="#" onclick="leftArrowPressed();"><<</a></li>
            %{
            n = 0;
            for(sample in path.samples) {
            }%
            <li><a href="#" onclick="showCandidates(${n});">${n}</a></li>
            %{
            n++;
            }
            }%
            <li><a href="#" onclick="rightArrowPressed();">>></a></li>
        </ul>
    </div>
</div>

<script>
var map = L.map('map',{
                        zoom: 18,
   						maxZoom: 20
					});

L.tileLayer('http://{s}.tiles.mapbox.com/v3/tzorzan.ik1cmo25/{z}/{x}/{y}.png', {donthide: true}).addTo(map);

var samples = [
  #{list items:path.samples, as:'sample'}
            [${sample.latitude}, ${sample.longitude}]${sample_isLast ?'':',' }
  #{/list}
];

var segments = [
  #{list items:segments, as:'matchingsegment'}
    [
    #{list items:matchingsegment.getCoordinates(), as:'coordinate'}
        [${coordinate.y}, ${coordinate.x}]${coordinate_isLast ?'':',' }
    #{/list}
    ]${matchingsegment_isLast ?'':',' }
  #{/list}
];

function showCandidates(n) {

  var sample = samples[n],
      matchingSegment = segments[n];

  map.eachLayer(function (layer) {
      if (layer.options.donthide == undefined) {
        map.removeLayer(layer);
      }
  });

  L.circleMarker(sample, {radius: 2, color: '#2964FF'}).addTo(map);
  L.polyline(matchingSegment, {color: '#72FF7A'}).addTo(map);

  map.setZoom(18).panTo(sample);
  currentCandidate = n;
}

showCandidates(0);

function leftArrowPressed() {
  if(currentCandidate -1 >= 0)
    showCandidates(currentCandidate -1);
}

function rightArrowPressed() {
  if(currentCandidate + 1 < samples.length)
    showCandidates(currentCandidate+1);
}

document.onkeydown = function(evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
        case 37:
            leftArrowPressed();
            break;
        case 39:
            rightArrowPressed();
            break;
    }
};
</script>