#{extends 'main.html' /}
#{set title:'PathS Server' /}
#{set subtitle:'ver. 3.0' /}
<div class="container">
    <div class="row">
        <div class="jumbotron" style="margin-top: 20px;">
            <img class="img-responsive" src="/public/images/profile.png" alt="PathS Logo" style="margin: auto;">
            <h1 class="text-center">
                PathS: <small>Path Squared</small>
            </h1>
            <p class="text-center">
                Un progetto dell'<strong>Università Degi Studi di Padova</strong>, <strong>Facoltà di Informatica</strong>
            </p>
        </div>

        <div class="container">
        <p class="lead text-justify">
            PathS è un progetto sviluppato dall'Università Degi Studi di Padova con il fine di
            migliorare gli attuali servizi di routing pedonale.<br />
            Lo scopo è quello di raccogliere informazioni aggiuntive riguardo i percorsi che percorriamo ogni giorno,
            ad esempio quanto sono esposti al sole nei diversi momenti della giornata, quanto sono coinvolti dal traffico
            o se possono essere dei tratti accessibili a persone con disabilità.<br />
            Queste informazioni sono quindi elaborate e utilizzate per fornire indicazioni di routing le quali oltre a
            considerare il percorso più breve e veloce suggeriscono la strada ideale secondo queste caratteristiche.<br />

        </p>
            </div>

    </div>
</div>


