<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="${_response_encoding}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
        <title>#{get 'title' /}</title>
        <link href="@{'/public/bootstrap/css/bootstrap.min.css'}" rel="stylesheet">
        <link href="@{'/public/stylesheets/main.css'}" media="screen" rel="stylesheet" >
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        #{get 'moreScripts' /}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="@{Application.index}">PathS</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="#{checknav request}@{MapMatching.list}#{/checknav}"><a href="@{MapMatching.list}">Samples List</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Map Matching <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="#{checknav request}@{MapMatching.step1}#{/checknav}"><a href="@{MapMatching.step1}">Step 1</a></li>
                        <li class="#{checknav request}@{MapMatching.step2}#{/checknav}"><a href="@{MapMatching.step2}">Step 2</a></li>
                        <li class="#{checknav request}@{MapMatching.step3}#{/checknav}"><a href="@{MapMatching.step3}">Step 3</a></li>
                    </ul>
                </li>
                <li class="#{checknav request}@{Application.route}#{/checknav}"><a href="@{Application.route}?from=45.4107960,11.8881404&to=45.4097416,11.8913376">Route</a></li>
            </ul>
        </nav>
        <div class="container-fluid"  style="height: 100%;">
            <div class="row">
                <div class="col-md-12">
                    <h1>#{get 'title' /} <small>#{get 'subtitle' /}</small></h1>
                </div>
            </div>
            #{doLayout /}
        </div>
        <script src="@{'/public/javascripts/jquery-1.11.3.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/bootstrap/js/bootstrap.min.js'}"></script>
    </body>
</html>
